@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-display: swap;
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
}

body {
  margin: 0;
  font-family: Pretendard;
  color: #222222;
}

header {
  border-bottom: 1px solid #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
}

.header-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 8px 0;
}

.header-container > div {
  display: flex;
}

.header-logo {
  width: 108px;
}

.header-menu {
  display: flex;
  gap: 36px;
  padding-left: 40px;
}

.header-login {
  font-size: 16px;
  font-weight: 600;
  color: #737373;
}

.banner {
  height: 400px;
  background-image: url("./images/banner.png");
  background-size: cover;
}

.banner-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.banner-container > h3 {
  font-size: 32px;
  font-weight: 700;
}

.banner-container > h5 {
  margin-top: 8px;
  font-size: 18px;
}

.techit-school-container {
  max-width: 1280px;
  margin: auto;
  margin-top: 80px;
}

.techit-school-container > div {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.techit-school-container > div > div > h5 {
  color: #e67800;
  font-size: 16px;
  font-weight: 600;
}

.techit-school-container > div > div > h3 {
  margin-top: 8px;
  font-size: 26px;
  font-weight: 600;
}

.techit-school-container > div > button {
  font-size: 14px;
  font-weight: 600;
}

.techit-school-container > .techit-school {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 32px;
}

.techit-school-card {
  width: 290px;
  height: 416px;
}

.techit-school-card > .img-container {
  width: 290px;
  height: 221px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 16px;
}

.techit-school-card > .img-container > img {
  width: 290px;
  height: 221px;
  border-radius: 12px;
}

.techit-school-card > .img-container > img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.techit-school-card > .d-day {
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 600;
}

.techit-school-card > .d-7 {
  border: 1px solid #1d4ed8;
  color: #1d4ed8;
}

.techit-school-card > .alarm {
  border: 1px solid #059669;
  color: #059669;
}

.techit-school-card > .fin {
  border: 1px solid #3f3f46;
  color: #3f3f46;
}

.techit-school-card > h3 {
  margin: 16px 0 8px 0;
  font-size: 20px;
  font-weight: 600;
}

.techit-school-card > h5 {
  font-size: 18px;
}

.techit-school-card > .date {
  margin-top: 16px;
  color: #a3a3a3;
}

.techit-alarm {
  height: 206px;
  background-image: url("./images/techit_alarm.png");
  background-size: cover;
}

.techit-alarm-container {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.techit-alarm-container > h5 {
  font-size: 16px;
  font-weight: 600;
  color: #072c56;
}

.techit-alarm-container > h3 {
  font-size: 24px;
  font-weight: 600;
}

.techit-alarm-container > h3:first-of-type {
  margin-top: 8px;
}

.techit-alarm-container > button {
  margin-top: 20px;
  font-size: 14px;
  color: #737373;
}

.onboarding {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 60px 40px;
}

.onboarding > li {
  width: 398px;
  height: 317px;
}

.onboarding > li > .img-container {
  width: 398px;
  height: 198px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 16px;
}

.onboarding > li > .img-container > img {
  width: 398px;
  height: 198px;
  border-radius: 12px;
}

.onboarding > li > .img-container > img:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.onboarding > li > h5 {
  font-size: 14px;
}

.onboarding > li > h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.onboarding > li > .price {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.onboarding > li > .price > span {
  margin-left: 4px;
  font-size: 14px;
  text-decoration: line-through;
  color: #a3a3a3;
  font-weight: 400;
}

.onboarding > li > span {
  color: #e67800;
  background-color: #ffedd5;
  padding: 2px 6px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
}

.education {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.education > li {
  padding: 40px;
  background-size: cover;
  width: 540px;
  height: 250px;
  border-radius: 20px;
}

.education > .techit {
  background-image: url("./images/techit.png");
}

.education > .kdc {
  background-image: url("./images/kdc.png");
}

.education > .startup {
  background-image: url("./images/startup.png");
}

.education > li > h3 {
  font-size: 24px;
  font-weight: 700;
}

.education > li > h5 {
  font-size: 16px;
}

.education > li > h5:first-of-type {
  margin-top: 4px;
}

.education > li > button {
  color: #737373;
  font-size: 14px;
  margin-top: 16px;
}

footer {
  border-top: 1px solid #e5e5e5;
  padding: 32px 16px;
}

.sitemap {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.sitemap > div {
  display: flex;
}

.sitemap > div > div:last-of-type {
  margin-left: 80px;
}

.sitemap > div > div > h5 {
  font-size: 12px;
  color: #737373;
}

.sitemap > div > div > ul {
  margin-top: 16px;
}

.sitemap > div > div > ul > li {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

.sitemap > div > div > ul > li > svg {
  width: 24px;
  margin-left: 4px;
}

.company-info {
  border-top: 1px solid #e5e5e5;
  padding-top: 16px;
  font-size: 12px;
  color: #737373;
}

.company-info > ul {
  display: flex;
  gap: 12px;
  margin: 0;
  margin-bottom: 24px;
}

.company-info > ul > li {
  cursor: pointer;
}

.company-info > .contditions {
  display: flex;
  align-items: center;
}

.company-info > .contditions > span {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #737373;
  border-radius: 9999px;
  margin: 0 8px;
}

.company-info > .likelion {
  margin-top: 12px;
  display: flex;
}

.company-info > .likelion > span::after {
  content: "|";
  margin: 0 8px;
  font-size: 10px;
}

.company-info > .address {
  margin-top: 4px;
}
